*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

@media only screen and (max-width: 1200px) {
    html {
        font-size: 56.25%;
    } 
}

@media only screen and (max-width: 900px) {
    html {
        font-size: 50%;
    } 
}

body {
    font-size: 1.6rem;
    letter-spacing: 2px;
    text-indent: 2px;
    font-family: 'Montserrat', sans-serif;
    background-color: #FEFEFE;
    color: #333;
    position: relative;
    box-sizing: border-box;
}

h1, h2, h3 {
    font-family: 'Anton', 'sans-serif';
}

h1 {
    font-size: 5.6rem;
}

h2 {
    font-size: 4rem;
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 4.8rem;
    }

    h2 {
        font-size: 3.2rem;
    }
}

p {
    font-size: 1.8rem;
}

li, a {
    font-size: inherit;
}

a, a:link, a:visited {
    color: inherit;
    text-decoration: none;
}

.gilliverse {
    margin-top: 4.8rem;
    font-size: 1.4rem;
}

@media only screen and (max-width: 1200px) {
    .gilliverse {
        font-size: 1.2rem;
        margin-top: 3.6rem;
    }
}

@media only screen and (max-width: 600px) {
    .gilliverse {
        font-size: 1.2rem;
        margin-top: 2.4rem;
    }
}